@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Header Section Styles */
.header {
  padding: 24px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger {
  position: relative;
  border-radius: 100%;
  padding: 14px 11px;
  height: 40px;
  width: 40px;
  background-color: #f5f6f7;
}

.burger-line {
  position: absolute;
  top: 12px;
  left: 11px;
  display: inline-block;
  height: 2px;
  width: calc(100% - 22px);
  background-color: #000;
}

.burger-line:nth-child(2) {
  top: 20px;
}

.burger-line:nth-child(3) {
  top: 28px;
}

/* Hero Section Styles */
.hero {
  background-image: url("../images/hero-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
